#nav-drawer-wrapper {
	z-index: 2005;
	position: fixed;
	top: 0;
	left: -300px;
	height: 100%;
	width: 200%;
}
#nav-shadow {
	z-index: 3;
	background-color: rgba(0, 0, 0, 0.3);
	width: 200%;
	height: 100%;
}
#nav-drawer {
	float: left;
	height: 100%;
	width: 300px;
	background-color: #FbFbFb;
}
.nav-drawer-list-title {
	padding-left: 20px;
    color: #888;
}
.nav-drawer-list-title:not(:first-child) {
    margin-top: 20px;
}
#nav-drawer-list-wrapper {
    overflow-y: scroll;
}
@media screen and (max-height: 400px) {
    #nav-drawer-list-wrapper {
        height: 50%;
    }
}
@media screen and (min-height: 400px) {
    #nav-drawer-list-wrapper {
        height: 70%;
    }
}
#nav-drawer ul {
	padding: 0;
	list-style: none;
}
#nav-drawer li {
	font-size: 20px;
	color: #EB4747 !important;
	font-weight: 200;
	width: 100%;
	margin-bottom: 2px;
    cursor: pointer;
}

#nav-drawer-title {
	font-size: 24pt;
	color: #777;
}

ul#resources li {
	display: inline-block;
	width: auto;
	margin: 15px;
	color: #EB4747;
}
ul#resources li:hover {
	background-color: transparent !important;
}

#nav-drawer li:hover {
	background-color: #EEE !important;
}
#nav-drawer li#active:hover {
    background-color: transparent !important;
}
#nav-drawer li#active a {
    cursor: default !important;
}
#nav-drawer li a, #nav-drawer li * {
	padding: 10px 20px;
	text-decoration: none;
	color: #777;
	display: block;
	width: 100% !important;
}
#nav-drawer li a:hover, #nav-drawer li a:active, #nav-drawer li#active a {
	text-decoration: none;
	color: #EB4747;
}
#nav-drawer-title {
	line-height: 65px;
	font-size: 30px;
	padding-left: 20px;
	border-bottom: 1px solid #BBB;
}
#nav-drawer-title a {
	font-size: 30px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #EB4747 !important;
}
#nav-drawer-title a:hover, #nav-drawer-title a:active {
	text-decoration: none;
}
.scroll-modal-body {
	max-height: 200px;
	overflow-y: auto;
}
nav.navbar {
	z-index: 2000 !important;
	height: 65px;
	margin-bottom: 0;
}
.toolbar-active {
    background-color: #EB4747;
    border: 1px solid #E93535;
	box-shadow: 0 4px 5px rgba(0,0,0,0.2);
	-webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}
.navbar-brand {
	color: #EEE !important;
	letter-spacing: 1px;
	margin: 6px;
    float: left;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
    font-weight: 300;
}
.navbar-header i {
	color: #5C0A0A;
	float: left;
	margin: 18px 0 18px 18px;
	cursor: pointer;
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}
.navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
}