
h4.item-intro {
    padding: 0;
    margin: 20px auto 40px auto;
}

.item-section {
    margin-top: 60px;
}

.portfolio-modal button {
    margin-top: 100px;
}

.portfolio-modal hr {
    width: 30px;
    border-color: #1B2627;
}

.portfolio-item-container {
    height:100%; 
    width:100%; 
    position:relative;
}

.project-list {
    text-align: left;
    padding: 15px;
    /*position: relative;*/
    /*left: 130px;*/
}


@media screen and (max-width: 375px) {
	h2 {
		font-size: 15px;
	}
}