html, body {
  height: 100%;
}


@media only screen and (min-width: 601px) {
	nav {
		height: 114px;
	}
}
nav .tabs .tab a.active {
	color: #ffffff;
}
nav .tabs .tab a {
	color: #fafafa;
}
#brand {
	cursor: pointer;
	font-weight: 200;
	font-size: 18pt;
	margin-left: 8px;
}

#content-holder {
	background-color: #fafafa;
	margin-top: 48px;
	padding: 16px;
	min-height: 100%;
}
footer {
	padding: 16px;
	color: #fafafa;
}
footer ul.list-inline {
	margin: 0;
}
footer ul li img {
	opacity: .3;
	cursor: pointer;
	margin: 4px;
}
footer ul li img:hover, footer ul li img:active {
	opacity: .5;
}
footer a {
	color: rgba(0, 0, 0, 0.3);
}


/* GENERAL STYLE */
h2 {
	color: #4db6ac;
}
ul.list-inline li, ol.list-inline li {
	display: inline-block;
}
ul.icon-list li i {
	margin: 8px;
}
li.chip {
	margin: 4px;
}
.card-title {
	display: block;
	width: 100%;
	padding-top: 8px !important;
	padding-bottom: 8px !important;
	background-image: -webkit-gradient(
	  linear, left bottom, left top, from(rgba(50,50,50,0.3)),
	  to(rgba(0,0,0,0))
	);
}
.card-content p {
	white-space: nowrap;
	text-overflow: ellipsis;
}
.clickable {
	cursor: pointer;
}
.play-store-logo {
	height: 32px;
}